@import "../../global.css";

.login{
    text-align: center;
    background-color: var(--BackgroundCovered);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: var(--MessageColorCovered);
}

.login-author{
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}

.login-highlight{
    color: var(--HighlightColor);
}

.login-logo{
    height: 40vmin;
    pointer-events: none;
}

.global-link {
    background: none;
    border: none;
    padding: 0;
    color: #007bff; /* A standard link color, change if needed */
    text-decoration: underline;
    cursor: pointer;
    font: inherit; /* Make sure it uses the parent's font */
    text-align: inherit; /* Align with surrounding text */
}

.policy-link {
    background: none;
    border: none;
    padding: 0;
    color: #007bff; /* Or whatever your link color is */
    text-decoration: underline;
    cursor: pointer;
    font: inherit; /* Inherit font styles from the parent */
}

@media (prefers-reduced-motion: no-preference) {
    .login-logo {
      animation: login-logo-spin infinite 20s linear;
    }
}

@keyframes login-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}  

